
.cards-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0;
    grid-column: 4

}

/*@media screen and (max-width:800px) {
    .cards-container {
        flex-wrap: wrap;
    }
}*/